[Unit]
Description=ntfy Traccar Bridge
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/dev/scripts/marphs-tracker/ntfy_traccar_bridge
ExecStart=/usr/bin/python3 -u %h/dev/scripts/marphs-tracker/ntfy_traccar_bridge/ntfy_traccar_bridge.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
