[Unit]
Description=ntfy Traccar Bridge
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/dev/scripts/marphs-tracker/ntfy_traccar_bridge
ExecStart=/usr/bin/python3 -u %h/dev/scripts/marphs-tracker/ntfy_traccar_bridge/ntfy_traccar_bridge.py
Restart=always
# short sleep before restarting for DNS to be ready
RestartSec=5
# restart every day to mitigate some strange issue where nothing is received, but the service seems to run properly
RuntimeMaxSec=1d

[Install]
WantedBy=default.target
